*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Verdana', sans-serif;
    margin: 0rem;
    padding: 0rem;
    background-color: $second-color;
}

.grid-body-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-row: 100%;
  grid-row-gap: 1rem 0rem;
  grid-template-columns: 100%;
  min-width: 100%;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $navbar-background-color;
  padding: 1rem;

  flex-wrap: wrap;

  .navbar-title {
    color: $second-color;
    margin-right: auto;
    text-decoration: none;
  }

  .navbar-link {
    color: $navbar-a-color;
    padding: 0rem;
    margin-left: auto;
    text-decoration: none;
  }

  .navbar-link:visited {
    text-decoration: underline;
  }

  
}

.flashed-messages-wrapper {
  background-color: $third-color;
  padding: 1rem;
  margin: 0.3rem;
  border-radius: 1rem;
}

.content-wrapper {
  padding: 1rem;
}

.navbar-form {
  margin: auto;
}

footer {
  background-color: $navbar-background-color;
  color: $second-color;
  padding: 1rem;
  text-align: center;
}
