body {
  font-family: "Verdana", sans-serif;
  margin: 0rem;
  padding: 0rem;
  background-color: #f8f8f2;
}

.grid-main-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-row: 100%;
  grid-row-gap: 1rem 0rem;
  grid-template-columns: 100%;
  min-width: 100%;
}

.navbar-wrapper {
  background-color: #222222;
}

/*# sourceMappingURL=styles.css.map */
