*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Verdana", sans-serif;
  margin: 0rem;
  padding: 0rem;
  background-color: #f8f8f2;
}

.grid-body-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-row: 100%;
  grid-row-gap: 1rem 0rem;
  grid-template-columns: 100%;
  min-width: 100%;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #222222;
  padding: 1rem;
  flex-wrap: wrap;
}
.navbar-wrapper .navbar-title {
  color: #f8f8f2;
  margin-right: auto;
  text-decoration: none;
}
.navbar-wrapper .navbar-link {
  color: #dcdad5;
  padding: 0rem;
  margin-left: auto;
  text-decoration: none;
}
.navbar-wrapper .navbar-link:visited {
  text-decoration: underline;
}

.flashed-messages-wrapper {
  background-color: #cb9f7a;
  padding: 1rem;
  margin: 0.3rem;
  border-radius: 1rem;
}

.content-wrapper {
  padding: 1rem;
}

.navbar-form {
  margin: auto;
}

footer {
  background-color: #222222;
  color: #f8f8f2;
  padding: 1rem;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
