    <table>
        <tr valign="top">
            <td><img src="{{ text.author.avatar(36) }}"></td>
            <td>
              {% set user_link %}
                <a href="{{ url_for('main.user', username=text.author.username) }}">
                  {{ text.author.username }}
                </a>
              {% endset %}
              {{ _('%(username)s created ', username=user_link) }} <span class="text-timestamp">{{ text.timestamp }}</span>: 
              <br>{{ text.body }}
            </td>
        </tr>
    </table>
