<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta id="locale" http-equiv="content-language" content="{{ g.locale }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Circontext" />

    {% if title %} 
      <title>{{ title }} - Circontext</title>
    {% else %}
      <title>Welcome to Circontext!</title>
    {% endif %}


    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" type="text/css"/>
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/gidole-regular" type="text/css"/> 
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/unique" type="text/css"/> 

    <!-- H2 title -->
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/tibet" type="text/css"/> 

</head>
<body>

  <div class="grid-body-wrapper">

  {% include 'navbar.html' %}

  <div class="content-wrapper">
  {% block content %}{% endblock %}
  </div>

  {% include 'footer.html' %}

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
