{% extends "base.html" %}

{% block content %}
    {% for text in ctext %}
        <p>
        id: {{ text.id }}<br>
        author: {{ text.author.username }}<br>
        in the context of: {{ text.context }}<br>
        phrase: <b>{{text.body }}</b>
        </p>
    {% endfor %}
    <hr>

    <section><p>Circontext home page</p></section>
{% endblock %}
