  <div class="navbar-wrapper">

    <a href="{{ url_for('main.index') }}" class="navbar-title">Circontext:</a>
    <a href="{{ url_for('main.explore') }}" class="navbar-link">{{ _('Explore') }}</a>
    {% if current_user.is_anonymous %}
    <a href="{{ url_for('auth.login') }}" class="navbar-link">{{ _('Login') }}</a>
    {% else %}
    <a href="{{ url_for('main.user', username=current_user.username) }}" class="navbar-link">{{ _('Profile') }}</a>
    <a href="{{ url_for('auth.logout') }}" class="navbar-link">{{ _('Logout') }}</a>
    {% endif %}

  </div>

    {% if g.search_form %}
    <form class="navbar-form" method="get" action="{{ url_for('main.search') }}">
        <div class="form-group">
            {{ g.search_form.q(size=20, class='form-control', placeholder=g.search_form.q.label.text) }}
        </div>
    </form>
    {% endif %}

  <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flashed-messages-wrapper">
      <ul>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endwith %}
