{% extends "base.html" %}

{% block content %}
    <table>
        <tr valign="top">
            <td><img src="{{ user.avatar(128) }}"></td>
            <td>
              <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}<p id="about-me">{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}<p>{{ _('Last seen on') }}: <span id="datetime">{{ user.last_seen }}</span>.</p> {% endif %}
                <p>{{ user.followers.count() }} {{ _('followers') }}, {{ user.followed.count() }} {{ _('following') }}.</p>
                {% if user == current_user %}
                  <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                  <p><a href="{{ url_for('main.follow', username=user.username) }}">{{ _('Follow') }}</a></p>
                {% else %}
                  <p><a href="{{ url_for('main.unfollow', username=user.username) }}">{{ _('Unfollow') }}</a></p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for text in texts %}
      {% include '_text.html' %}
    {% endfor %}

    {% if prev_url %}
      <a href="{{ prev_url }}">{{ _('Newer texts') }}</a>
    {% endif %}
    {% if next_url %}
      <a href="{{ next_url }}">{{ _('Older texts') }}</a>
    {% endif %}

{% endblock %}
