{% extends "base.html" %}

{% block content %}
   <h1>{{ _('Hi') }}, {{ current_user.username }}!</h1>

   {% if form %}
   <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.text.label }}<br>
            {{ form.text(cols=32, rows=4) }}<br>
            {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}

    {% for text in ctext %}
        <p>
        id: {{ text.id }}<br>
        author: {{ text.author.username }}<br>
        in the context of: {{ text.context }}<br>
        phrase: <b>{{text.body }}</b>
        </p>
    {% endfor %}
    <hr>
     {% for text in texts %}
       {% include '_text.html' %}
     {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">{{ _('Newer texts') }}</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">{{ _('Older texts') }}</a>
    {% endif %}
{% endblock %}
